html,
body {
  font-family: "Lexend";
  margin: 0 !important;
  background-color: #dafcfe;

  height: 100%;
}

button {
  font-family: "Lexend";
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #9291e4;
}

a:active {
  text-decoration: none;
}

.header-wrapper {
  width: 100%;
  height: 72px;
  display: flex;
  z-index: 2;
}

.logo-wrapper {
  margin-left: 100px;
  margin-top: 32px;
}

.sections-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 32px;
  padding-right: 100px;
}

.mobile-menu {
  display: none;
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 4px;
}

.hamburger-menu-wrapper {
  display: none;
  align-self: center;
  justify-self: flex-end;
  margin-right: 31px;
}

.mobile-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #dafcfe;
}

.mobile-menu-close-wrapper {
  margin-right: 34px;
  margin-top: 10px;
}

.mobile-menu-break {
  height: 24px;
  background: linear-gradient(180deg, #dafcfe 0%, #ffffff 100%);
}

.section {
  display: flex;
  align-self: center;
  font-family: Lexend;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  line-height: 120%;
}

.section + .section {
  margin-left: 57px;
}

.mobile-menu-section {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-align: right;
  text-transform: capitalize;

  color: #000000;
  margin-top: 22px;
  margin-bottom: 22px;
  justify-items: center;
}

.mobile-menu-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  height: 100%;
  background: #dafcfe;
}

.illustration-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -72px;
  pointer-events: none;
}

.illustration {
  display: block;
  width: 100%;
}

.title-section-wrapper {
  width: 100%;
  padding-bottom: 24px;
  margin-top: -86px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0;
}

.sub-title-date {
  color: #9291e4;
}

.buttons-section-wrapper {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  column-gap: 16px;
  row-gap: 2px;
  max-width: 716px;
  flex-wrap: wrap;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 64px;
  color: #000000;
  border: 2px solid #55eec8;
  box-sizing: border-box;
  border-radius: 10px;
  background: #ffffff;
}

.about {
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #dafcfe 0%, #ffffff 100%);
  padding-bottom: 60px;
}

.about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
  text-align: center;
  margin-top: 60px;
}

.about-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  text-align: center;
  width: 700px;
  margin-top: 20px;
}

.meetup {
  height: 310px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  align-items: center;
  padding-bottom: 60px;
}

.meetup-title {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */

  text-align: center;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #5e5dc0;
  margin-top: 66px;
}

.meetup-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  text-align: center;
  width: 700px;
  margin-top: 24px;
}

.green-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;

  position: static;
  width: 228px;
  height: 64px;
  left: 351px;
  top: 142px;

  background: #55eec8;
  /* Green */

  border: 2px solid #55eec8;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */

  text-align: center;

  color: #000000;
}

.meetup-button {
  margin-top: 50px;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 776px;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 112px;
  padding-top: 114px;
}

.form {
  width: 100%;
}

.contact-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */

  letter-spacing: 0.11em;
  text-transform: uppercase;

  color: #5e5dc0;
  margin-bottom: 83px;
}

.contact-input {
  border: 1px solid #15b5ac;
  box-sizing: border-box;
  border-radius: 10px;
  height: 75px;
  width: 100%;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #3f3f3f;
  padding-left: 31px;
  margin-bottom: 5px;
  margin-top: 5px;
  resize: none;
}

.contact-message {
  height: 240px;
  padding-top: 24px;
}

.contact-illustration-wrapper {
  align-self: center;
  margin-left: 114px;
  width: 214.88px;
  height: 282.44px;
}

.contact-illustration {
  width: 100%;
  height: 100%;
}

.submit-button {
  margin-top: 20px;
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.bottom-illustration {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .title-section-wrapper {
    margin-top: -32px;
  }

  .contact {
    margin: 0 auto;
    max-width: min(776px, calc(100% - 48px));
  }
}

@media screen and (max-width: 576px) {
  .header-wrapper {
    justify-content: space-between;
  }

  .logo-wrapper {
    margin-top: 8px;
    margin-left: 30px;
  }

  .hamburger-menu-wrapper {
    display: block;
  }

  .sections-wrapper {
    display: none;
  }

  .illustration-wrapper {
    margin-top: 0;
  }

  .illustration {
    width: 100%;
  }

  .title-wrapper {
    position: static;
  }

  .title {
    font-size: 28px;
  }

  .sub-title {
    font-size: 20px;
  }

  .buttons-wrapper {
    flex-direction: column;
  }

  .top-button {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .about-subtitle {
    width: 93%;
  }

  .meetup-title {
    margin-top: 28.5px;
  }

  .meetup-subtitle {
    margin-top: 54px;
    width: 90%;
  }

  .meetup-button {
    margin-top: 10px;
  }

  .contact-form-wrapper {
    padding: 0;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contact {
    margin: 0 auto;
    max-width: min(420px, calc(100% - 48px));
  }

  .contact-input {
    width: 100%;
  }

  .contact-title {
    margin-bottom: 54px;
  }

  .contact-illustration-wrapper {
    display: none;
  }

  .submit-button {
    margin: 0px;
    margin-top: 10px;
  }

  .submit-form-button {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  .logo-wrapper {
    margin-top: 24px;
    margin-left: 42px;
  }

  .sections-wrapper {
    padding-right: 42px;
  }

  .illustration {
    width: 100%;
  }

  .about-title {
    margin-top: 36px;
  }

  .contact {
    justify-content: center;
  }

  .contact-title {
    margin-bottom: 63px;
  }

  .contact-form-wrapper {
    padding-left: 0;
    padding-top: 107px;
  }

  .contact-illustration-wrapper {
    display: none;
  }
}
