.main {
    background: white;
}

.header-wrapper {
    background: #DAFCFE;
}

.bar {
    height: 55px;
    width: 100%;
    background: linear-gradient(180deg, #DAFCFE 0%, #FFFFFF 100%);
}

.speakers-section-wrapper {
    background: white;
    margin-bottom: 155px;
}

.meetup-title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.meetup-title {
    margin-bottom: 100px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.meetup-title-date {
    color: #9291E4;
}

.speakers-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #9291E4;
    text-align: center;
    letter-spacing: 0.11em;
    text-transform: uppercase;
}

.speaker-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-image {
    box-sizing: border-box;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    /* background: url(.png); */
    /* Green */
    
    border: 3px solid #55EEC8;
    overflow: hidden;
}

.speaker-src-image {
    height: 125px;
    width: 125px;
}

.speaker-name {
    width: 252px;
    height: 38px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: center;

    color: #000000;
    margin-top: 22px;
}

.speaker-title {

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    text-align: center;

    color: #3F3F3F;
}

.speaker-twitter {
    margin-top: 10px;
}

.presentations-section-wrapper {
    display: none;
    background: #55EEC8;
    height: 660px;
    padding-top: 117px;
}