.main {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    background: white;
}

.header-wrapper {
    background: #DAFCFE;
}

.bar {
    height: 55px;
    width: 100%;
    background: linear-gradient(180deg, #DAFCFE 0%, #FFFFFF 100%);
}

.speakers-section-wrapper {
    background: white;
    padding-bottom: 105px;
}

.meetup-title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.meetup-title {
    margin-bottom: 100px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.meetup-title-date {
    color: #9291E4;
}

.speakers-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #9291E4;
    text-align: center;
    letter-spacing: 0.11em;
    text-transform: uppercase;
}

.speaker-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.speaker-image {
    box-sizing: border-box;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    /* background: url(.png); */
    /* Green */
    
    border: 3px solid #55EEC8;
    overflow: hidden;
}

.speaker-src-image {
    height: 125px;
    width: 125px;
}

.speaker-name {
    width: 252px;
    height: 38px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: center;

    color: #000000;
    margin-top: 22px;
}

.speaker-title {

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    text-align: center;

    color: #3F3F3F;
}

.speaker-twitter {
    margin-top: 10px;
}

.presentations-section-wrapper {
    
    background: #55EEC8;
    height: 660px;
    padding-top: 117px;
}

.presentations-presentations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 88px;
    
}

.presentations-presentation {
    width: 520px;
}

.presentations-image {
    max-width:100%;
    max-height:100%;
}

.presentations-presentation-marek {
    margin-right: 10px;
}

.presentations-presentation-przemek {
    margin-left: 10px;
}

.presentations-download {
    background: #9291E4;
    color: white;
}

.presentations-presentations-column {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.presentations-download-image {
    margin-right: 15px;
}

.presentations-download-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 50px;
}

@media screen and (max-width: 576px) {
    .bar {
        height: 35px;
        min-height: 35px;
    }
    
    .meetup-title {
        margin-bottom: 40px;
        margin-top: 8px;
        font-size: 24px;
    }
    
    .speakers-wrapper {
        flex-direction: column;
    }

    .speaker-wrapper {
        margin-top: 50px;
    }

    .speakers-section-wrapper {
        padding-bottom: 75px;
    }

    .presentations-section-wrapper {
        padding-top: 62px;
        height: auto;
    }

    .presentations-presentations {
        flex-direction: column;
        margin-top: 50px;
    }

    .presentations-presentation {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .presentations-download-wrapper {
        margin-top: 15px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
    .bar {
        height: 35px;
    }

    .meetup-title {
        margin-bottom: 80px;
        margin-top: 27px;
        font-size: 38px;
    }

    .speaker-wrapper {
        margin-top: 70px;
    }

    .speakers-section-wrapper {
        padding-bottom: 95px;
    }

    .presentations-section-wrapper {
        height: auto;
        padding-top: 75px;
    }

    .presentations-presentations {
        flex-direction: column;
        margin-top: 50px;
    }

    .presentations-presentation {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .presentations-download-wrapper {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}
